    <div class="footer">
<!--        <div class="nav archive-nav">
            <a class="btn dropdown-toggle" href="#">Archives</a>
            <ol class="dropdown-menu" role="menu">
                <li><a tabindex="-1" href="#">2012</a>
                    <ol class="nav nav-sub">
                        <li>September</li>
                        <li>August</li>
                        <li>June</li>
                        <li>May</li>
                        <li>April</li>
                    </ol> 
                </li>
                <li><a tabindex="-1" href="#">2011</a>
                    <ol class="nav nav-sub">
                        <li>August</li>
                        <li>July</li>
                    </ol>                 
                </li>
                <li><a tabindex="-1" href="#">2010</a>
                    <ol class="nav nav-sub">
                        <li>August</li>
                        <li>May</li>
                        <li>January</li>
                    </ol>                                 
                </li>
                <li><a tabindex="-1" href="#">All Archives</a></li>
            </ol>
        </div>
-->        
    </div><!-- /footer -->
