{% include doc-head.html %}

<div class="container">
    <div class="header-wrapper">
        <div class="header">
            <div class="header-inner" role="banner">
                <a class="site-title" href="/">Sharks & Cupcakes</a>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <div class="content-inner" role="main">
                
                {{ content }}

            </div><!-- /content-inner -->
        </div><!-- /content -->
    </div><!-- /content-wrapper -->
    <div class="footer" role="contentinfo">
        <small>Copyright 2012 Bridget Stewart. Design by <a href="http://bradcolbow.com/">Brad Colbow</a></small>
    </div><!-- /footer -->
</div><!-- /container -->

{% include doc-end.html %}